 оличество пакетов в нашем проекте растет, а мы тем временем все дальше уходим от учебных кусочков скриптов в сторону
насто€щего тестового проекта, поэтому в этом шаге давайте зафиксируем все пакеты, которые мы используем. Ёто стандартна€
практика, котора€ позвол€ет быстро переключатьс€ в свежее виртуальное окружение, а также работать нескольким люд€м над
одним проектом, получа€ одинаковые результаты.

ќткройте терминал, перейдите в директорию, в которой вы работаете с автотестами, и активируйте виртуальное окружение.

ѕосле чего выполните в терминале команду:
pip freeze > requirements.txt
Ёта команда сохранит все версии пакетов в специальный файл requirements.txt.

 ак их оттуда достать? ѕопробуйте создать новое виртуальное окружение (если нужно, вернитесь в модуль 1 за инструкци€ми)
и активировать. ѕосле чего выполните команду:
pip install -r requirements.txt
¬ свежем окружении все пакеты установлены одной командой!